body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 10px 12px 2px #ededed;
  box-shadow: 0 10px 12px 2px #ededed;
}

a {
  text-decoration: none;
  text-align: center;
}

.visually-hidden {
  display: none;
}

.h2-search {
  font-weight: bold;
  text-align: center;
}

.h3-additional-features {
  font-weight: bold;
  text-align: center;
}

.main-navigation {
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
}

.site-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 56px;
  margin: 0;
  padding: 0;
  margin-left: 55px;
  margin-right: 55px;
}

.site-navigation li {
  padding-top: 14px;
  width: 210px;
}

.navigation-left {
  text-align: left;
  padding-left: 2px;
}

.navigation-right {
  text-align: right;
  padding-right: 2px;
  padding-left: 3px;
}

.site-navigation li:nth-of-type(2) {
  padding-right: 61px;
}

.site-navigation li:nth-of-type(3) {
  padding-left: 62px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.active-hotels a {
  color: #766357;
}

.container {
  background-color: #ffffff;
}

.main-photo {
  padding-bottom: 55px;
  background-color: #ffffff;
}

.features {
  line-height: 21px;
  margin-top: -5px;
  background-color: #ffffff;
}

.h1-features {
  display: block;
  margin-top: 54px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
}

.h2-features {
  display: block;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #333333;
  margin-top: 3px;
  margin-bottom: 53px;
}

.h1-features, .h2-features {
  width: 576px;
  margin-left: 312px;
}

.features-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 256px;
  margin: auto;
  padding: 0;
  text-align: center;
}

.square, .road, .tourist {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  padding-top: 26px;
  padding-bottom: 51px;
  background-color: #eeeeee;
}

.square {
  padding-left: 73px;
  padding-right: 73px;
}

.road {
  padding-left: 65px;
  padding-right: 65px;
}

.tourist {
  padding-left: 70px;
  padding-right: 70px;
}

.real-city, .devil-bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  background-color: #81b3d2;
  color: #ffffff;
}

.wrap-realcity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 27px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  padding-left: 59px;
  padding-right: 59px;
}

.wrap-devilbridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  padding-top: 27px;
  padding-left: 47px;
  padding-right: 47px;
}

.img-features1 {}

.img-features2 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.additional-features {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
  min-height: 330px;
  width: 400px;
  padding-left: 57px;
  padding-right: 57px;
}

.additional-features {
  color: #333333;
}

.h3-additional-features, .h3-features {
  font-size: 21px;
}

.h3-features {
  font-weight: bold;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

.features-item p {
  margin-top: 22px;
}

.additional-features h3 {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.icon1 {
  margin-top: 60px;
  margin-bottom: 25px;
}

.icon2 {
  margin-top: 60px;
  margin-bottom: 27px;
}

.icon3 {
  margin-top: 60px;
  margin-bottom: 21px;
}

.search {
  background-color: #ffffff;
  padding-top: 22px;
}

.search h2 {
  display: block;
  font-size: 30px;
  line-height: 36px;
}

.search p {
  display: block;
  margin-top: 25px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.search h2, .search p {
  width: 440px;
  margin-left: 380px;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 569px;
  min-height: 482px;
  font-weight: bold;
}

.form-shadow {
  display: none;
  -webkit-box-shadow: 0 5px 6px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 6px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 4;
  background-color: #ffffff;
  top: 119px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 568px;
  padding-top: 55px;
}

.form-show {
  display: block;
  position: absolute;
  z-index: 4;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-100px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.search-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 86px;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #766257;
  border: none;
  margin-top: 32px;
  padding-top: 30px;
  padding-bottom: 33px;
}

.search-button:hover, .search-button:focus {
  background-color: #604e44;
}

.search-button:active {
  background-color: #503e34;
  color: #857871;
}

.booking-parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-bottom: 29px;
  margin-left: 56px;
}

.booking-parameter label {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 113px;
}

.booking-parameter input {
  background-color: #f2f2f2;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.date-field {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 38px;
  width: 346px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-right: 55px;
  padding-left: 12px;
}

.icon-calendar {
  position: absolute;
  right: 64px;
  top: 6px;
}

.icon-calendar {
  fill: #cacaca;
}

.icon-calendar:hover, .icon-calendar:focus {
  fill: #000000;
}

.icon-calendar:active {
  fill: #81b3d2;
}

.people-field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  height: 38px;
  width: 45px;
}

.children-field {
  margin-left: 8px;
}

.children1 {
  padding-left: 55px;
}

.date-field:hover {
  background-color: #ebebeb;
}

.date-field:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  padding-left: 10px;
}

.people-field:hover {
  background-color: #ebebeb;
}

.people-field:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  padding-left: 0;
}

.minus-button {
  position: relative;
  border: none;
  position: relative;
  background: #f2f2f2;
  width: 33px;
  height: 38px;
  padding-top: 0;
  padding-bottom: 0;
}

.minus-child {
  left: 8px;
}

.minus-button::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  left: 12px;
  top: 19px;
}

.minus-button:hover::before, .minus-button:focus::before {
  background-color: #000000;
}

.minus-button:active::before {
  background-color: #81b3d2;
}

.plus-button {
  border: none;
  position: relative;
  background: #f2f2f2;
  width: 33px;
  height: 38px;
  padding: 0;
}

.plus-button::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  left: 10px;
  top: 19px;
  background-color: #a9a9a9
}

.plus-button::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 11px;
  background-color: #a9a9a9;
  top: 15px;
  left: 14px;
}

.plus-button:hover::before {
  background-color: #000000;
}

.plus-button:focus::before {
  background-color: #81b3d2;
}

.plus-button:hover::after {
  background-color: #000000;
}

.plus-button:focus::after {
  background-color: #81b3d2;
}

.submitbutton {
  font: inherit;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  width: 458px;
  min-height: 58px;
  margin-top: 25px;
  margin-left: 55px;
  margin-bottom: 55px;
}

.submitbutton:hover, .submitbutton:focus {
  background-color: #669ec0;
}

.submitbutton:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.map-sedona {
  position: absolute;
  top: 120px;
  left: -315px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  min-height: 120px;
  margin-top: 111px;
}

.wrap-hashtag {
  width: 400px;
}

.hashtag {
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  padding-left: 132px;
}

.footer-social {
  width: 400px;
  margin-bottom: 2px;
  margin-left: 6px;
}

.social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.social-button:hover, .social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.wrap-academy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 400px;
  margin-bottom: 3px;
}

.wrap-academy p {
  padding-left: 102px;
  position: relative;
}

.academy-button {
  text-decoration: none;
  color: #000000;
  position: absolute;
  top: 5px;
  right: 100px;
}

.academy-button:hover path, .academy-button:focus path {
  fill: #98c1da;
}

.academy-button:active path {
  fill: #bdbbbc;
}

.search-form {
  background-image: url("../img/filter-background.png");
  background-repeat: no-repeat;
  background-color: #669ec0;
  color: #ffffff;
}

.search-form p {
  font-size: 16px;
}

.bookingform-hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 219px;
  line-height: 21px;
}

.column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 313px;
  padding-left: 73px;
  padding-top: 10px;
}

.column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 488px;
  padding-left: 21px;
  padding-top: 10px;
}

input[type="checkbox"] {
  display: none;
}

.between {
  margin-bottom: 18px;
}

.filter-input+label::before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 27px;
  margin-right: 11px;
  vertical-align: middle;
  background: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input:checked+label::before {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-input+label::before:hover {
  background: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input:checked+label::before:hover {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

input[type="checkbox"]:disabled+label::before {
  background-image: url(../img/checkbox-on2.svg);
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked:disabled+label::before {
  background: url(../img/checkbox-off2.svg);
  background-repeat: no-repeat;
}

input[type="checkbox"]:disabled+label {
  color: #6a6a6a;
}

input[type="checkbox"]:checked:disabled+label {
  color: #6a6a6a;
}

.column-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 400px;
  padding-top: 25px;
  padding-left: 27px;
}

.paragraph-checkbox {
  font-weight: bold;
  margin-bottom: 24px;
}

.column-3-title {
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 12px;
  padding-left: 2px;
}

.category-price {
  position: relative;
  height: 32px;
  width: 314px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.category-price::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.category-price label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 28px;
  vertical-align: top;
  cursor: pointer;
}

.category-price .min-price {
  width: 90px;
  padding-left: 65px;
}

.category-price .max-price {
  width: 90px;
  padding-left: 57px;
}

.category-price input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-price {
  position: relative;
  margin-bottom: 33px;
}

.range-price .scale {
  height: 2px;
  width: 316px;
  background: rgba(255, 255, 255, 0.3);
}

.range-price .scale-mini {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover {
  background: #1c4f80;
  width: 5px;
  height: 5px;
  border: 9px solid #ffffff;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 254px;
}

.button-ghost {
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  opacity: 0, 1;
  width: 134px;
  height: 34px;
  margin-left: 86px;
}

.button-ghost:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 73px;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  min-width: 940px;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
}

.sorting h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-right: 47px;
}

.parameter-sort {
  padding-right: 40px;
}

.parametr-price, .parametr-type {
  padding-right: 32px;
}

.parametr-big {
  margin-right: 12px;
  flex-grow: 1;
  text-align: right;
}

.parametr-little-active {
  padding-right: 48px;
}

.sort-active {
  text-decoration: none;
  color: #81b3d2;
}

.sort-left {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px dotted #81b3d2;
}

.sort-left:hover, .sort-left:focus {
  color: #81b3d2;
}

.sort-left:active {
  color: #000000;
  border-bottom: 0;
}

.sort-right svg {
  fill: #cacaca;
}

.sort-right svg:hover, .sort-right svg:focus {
  fill: #231f20;
}

.sort-right svg:active {
  fill: #81b3d2;
}

.parametr-little-active svg {
  fill: #81b3d2;
}

.result-hotels {
  background-color: #fefefe;
}

.hotels-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 150px;
  padding-left: 73px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-pic {
  margin-top: 30px;
}

.name-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 364px;
  padding-left: 31px;
}

.name-of-hotel {
  min-width: 364px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-top: 25px;
  margin-bottom: 6px;
}

.hotel-link {
  text-decoration: none;
  color: #000000;
}

.hotel-link:hover, .hotel-link:focus {
  color: #81b3d2;
}

.hotel-link:active {
  color: #b2b2b2;
}

.hotel-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  line-height: 21px;
  width: 528px;
}

.hotel-info {
  width: 364px;
  color: #333333;
  line-height: 21px;
}

.hotel-book {
  width: 364px;
  margin-top: 15px;
  line-height: 21px;
}

.type-hotel {
  display: inline-block;
  vertical-align: top;
  width: 110px;
}

.money {
  display: inline-block;
  vertical-align: top;
  width: 143px;
}

.more {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #81b3d2;
  width: 110px;
  min-height: 27px;
  text-align: center;
  padding-top: 2px;
}

.more a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.more a:hover,
.more a:focus,
.more:hover,
.more:focus {
  background-color: #669ec0;
}

.more a:active,
.more:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.book {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #766357;
  margin-left: 2px;
  text-align: center;
  width: 143px;
  height: 27px;
  padding-top: 2px;
}

.book a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.book a:hover,
.book a:focus,
.book:hover,
.book:focus {
  background-color: #604e43;
}

.book a:active,
.book:active {
  color: #857871;
  background-color: #503e33;
}

.hotel-status {
  margin-right: 71px;
}

.stars {
  display: block;
  width: 111px;
  text-align: right;
  margin-bottom: 42px;
  margin-top: 29px;
}

.star-raiting {
  display: inline-block;
  vertical-align: top;
  width: 19px;
  height: 19px;
  background-image: url("../img/star-rating.svg");
  background-repeat: no-repeat;
}

.rating {
  font-size: 14px;
  color: #666666;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 111px;
  min-height: 27px;
  padding-left: 16px;
  padding-top: 3px;
}

.footer-hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 120px;
  margin-top: 0;
}

.wrapacademy-hotel {
  margin-top: 6px;
}
