body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2; /*добавить тень*/
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-align: center;
}

h1, h2, h3 {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 21px;
}

.visually-hidden {
  display: none;
}

.h2-features {
  font-weight: normal;
  font-size: 14px;
}

.main-header {
}

.main-navigation {
  font-weight: bold;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 56px;
  margin: auto;
  padding: 0;
}

.site-navigation a {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #000000;
}

.site-navigation a:active {
  color: #766357;
}

.container {
  background-color: #ffffff;
}

.features {
  line-height: 21px;
}

.features h1 {
  font-size: 21px;
}

.features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-height: 256px;
  margin: auto;
  padding: 0;
  text-align: center;
}

.real-city,
.devil-bridge {
  display: flex;
  width: 1200px;
  background-color: #81b3d2;
  color: #ffffff;
}

.wrap-realcity {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 45px;
}

.wrap-devilbridge {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

.img-features1 {
}

.img-features2 {
  flex-grow: 1;
}

.h3-additional-features {
  font-size: 21px;
}

.additional-features {
  text-align: center;
  background-color: #ffffff;
  min-height: 330px;
  width: 400px;
}

.additional-features h3 {
  text-transform: uppercase;
}

.search-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 569px;
  min-height: 482px;
  font-weight: bold;
}

.form-shadow {
  box-shadow: 0 0 12px 2px #ededed;
}

.search h2 {
  font-size: 30px;
  line-height: 36px;
}

.search p {
  line-height: 24px;
  text-align: center;
}

.search-button {
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766257;
  border: none;
  padding-top: 33px;
  padding-bottom: 33px;

}

.search-button:hover {
  background-color: #604e44;
}

.search-button:focus {
  background-color: #503e34;
}

.booking-form {
  margin-top: 55px;
}

.booking-parameter {
  margin-left: 56px;
}

.booking-parameter label {
}

.booking-parameter input {
  background-color: #f2f2f2;
  border: none;
}

.date-field {
  height: 40px;
  width: 347px;
  margin-bottom: 30px;
}

.people-field {
  height: 40px;
  width: 117px;
}

.booking-parameter input:hover {
  background-color: #ebebeb;
}

.booking-parameter input:focus {
  background-color: #ffffff;
}

.minus-button {
}

.minus-button:hover {
}

.minus-button:focus {
}

.plus-button {
}

.plus-button:hover {
}

.plus-button:focus {
}

.icon-calendar {
}

.icon-calendar:hover {
}

.icon-calendar:focus {
}

.submitbutton {
  font: inherit;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  width: 458px;
  min-height: 58px;
  margin-left: 56px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.submitbutton:hover {
  background-color: #669ec0;
}

.submitbutton:focus {
  background-color: #5496bd;
}

.main-footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 0;
}

.hashtag {
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  width: 400px;
  color: #000000;
}

.footer-social {
  width: 400px;
}

.academy-button {
  text-decoration: none;
  width: 400px;
  color: #000000;
}

.social-list {
  list-style: none;
  display: flex;
}

.social-button {
}

.social-button:hover {
}

.social-button:focus {
}

.academy-button {
}

.academy-button:hover {
}

.academy-button:focus {
}

.body-hotels {
  text-align: left;
  line-height: 21px;
}

.search-form {
  background-image: url("../img/filter-background.png");
  background-repeat: no-repeat;
  background-color: #669ec0;
  color: #ffffff;
}

.search-form p {
  font-size: 16px;
}

.bookingform-hotels {
  display: flex;
  min-height: 219px;
}

.column-1 {
  display: flex;
  flex-direction: column;
  width: 241px;
  margin-left: 73px;
  margin-top: 31px;
  padding: 0;
}

.column-2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 31px;
  padding: 0;
}

.column-3 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 400px;
  margin-top: 31px;
  padding: 0;
}

.paragraph-checkbox {
  font-weight: bold;
}

.filter-input:hover,
.filter-input:focus {
}

.filter-input:disabled {
}

.slider {
}

.slider:hover,
.slider:focus {
}

.button-ghost {
  color: #ffffff;
  background-color: none;
  border:  1px solid #ffffff;
  border-radius: 2px;
  opacity: 0,1;
  width: 134px;
  height: 34px;
}

.sorting {
  padding-left: 73px;
  display: flex;
  align-items: baseline;
  background-color: #fefefe;
}

.sorting-parameter {
  display: flex;
}


.sorting h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-parameter {
  list-style: none;
}

.parameter-sort {
  margin-right: 39px;
}

.parametr-price,
.parametr-type,
.parametr-rating {
  margin-right: 33px;
}

.parametr-big,
.parametr-little {
  align-items: flex-end;
}

.sorting-parameter a {
  color: #000000;
  text-decoration: underline;
}

.sorting-parameter a:hover {
  color: #81b3d2;
}

.sorting-parameter a:focus {
  color: #000000;
  text-decoration:none;
}

.sorting-parameter a:active {
  color: #81b3d2;
  text-decoration:none;
}

.result-hotels {
  padding-left: 73px;
  background-color: #fefefe;
}

.name-of-hotel {
  font-size: 21px;
  font-weight: bold;
}

.hotels-items {
  display: flex;
  padding-top: 31px;
  padding-bottom: 31px;
}

.name-hotel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 30px;
}

.hotel-status {
  display: flex;
  flex-direction: column;
  width: 241px;
}

.more {
  display: inline-block;
  background-color: #81b3d2;
  width: 110px;
  min-height: 27px;
}

.more a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.more a:hover {
  background-color: #669ec0;
}

.more a:focus {
  color: #81b2ce;
  background-color: #5496bd;
}

.book {
  display: inline-block;
  background-color: #766357;
  width: 143px;
  height: 27px;
}

.book a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.book a:hover {
  background-color: #604e43;
}

.book a:focus {
  color: #81b2ce;
  background-color: #857871;
}

.rating {
  background-color: #f2f2f2;
  width: 111px;
  min-height: 27px;
}
