body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 10px 12px 2px #ededed;
}

a {
  text-decoration: none;
  text-align: center;
}

h1, h2, h3 {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 21px;
}

.visually-hidden {
  display: none;
}

.h2-features {
  font-weight: normal;
  font-size: 14px;
}

.main-header {
}

.main-navigation {
  font-weight: bold;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 56px;
  margin: auto;
  padding: 0;
}

.site-navigation a {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #000000;
}

.site-navigation a:active {
  color: #766357;
}

.container {
  background-color: #ffffff;
}

.features {
  line-height: 21px;
}

.h1-features {
  display: block;
  margin-top: 56px;
  font-size: 21px;
}

.h2-features {
  display: block;
  margin-top: 36px;
  margin-bottom: 36px;
}

.features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-height: 256px;
  margin: auto;
  padding: 0;
  text-align: center;
}

.square,
.road,
.tourist {
  width: 400px;
  padding-top: 45px;
  padding-bottom: 62px;
  background-color: #eeeeee;
}

.real-city,
.devil-bridge {
  display: flex;
  width: 1200px;
  background-color: #81b3d2;
  color: #ffffff;
}

.wrap-realcity {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 45px;
}

.wrap-devilbridge {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

.img-features1 {
}

.img-features2 {
  flex-grow: 1;
}

.h3-additional-features,
.h3-features {
  font-size: 21px;
}

.additional-features {
  text-align: center;
  background-color: #ffffff;
  min-height: 330px;
  width: 400px;
}

.additional-features h3 {
  text-transform: uppercase;
  margin-top: 0;
}

.icon {
  margin-top: 60px;
  margin-bottom: 30px;
}

.search-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  width: 569px;
  min-height: 482px;
  font-weight: bold;
}

.map-sedona {
  position: absolute;
  margin-left: -315px;
}

.form-shadow {
  box-shadow: 0 10px 12px 2px #ededed;
}

.search h2 {
  display: block;
  margin-top: 55px;
  font-size: 30px;
  line-height: 36px;
}

.search p {
  display: block;
  margin-top: 32px;
  line-height: 24px;
  text-align: center;
}

.search-button {
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766257;
  border: none;
  margin-top: 46px;
  padding-top: 33px;
  padding-bottom: 33px;

}

.search-button:hover {
  background-color: #604e44;
}

.search-button:focus {
  background-color: #503e34;
  color: #857871;
}

.booking-form {
  position: absolute;
  z-index: 2;
  margin-top: 55px;
  background-color: #ffffff;
}

.booking-parameter {
  margin-left: 56px;
}

.booking-parameter label {
}

.booking-parameter input {
  background-color: #f2f2f2;
  border: none;
}

.date-field {
  height: 40px;
  width: 335px;
  margin-bottom: 30px;
  font-weight: bold;
  padding-left: 12px;
}

.icon-calendar {
  position: absolute;
  margin-left: -30px;
  margin-top: 10px;
}

.icon-calendar path {
  fill: #cacaca;
}

.icon-calendar:focus path {
  fill: #81b3d2;
}

.people-field {
  text-align:center;
  height: 40px;
  width: 117px;
}

.booking-parameter input:hover {
  background-color: #ebebeb;
}

.booking-parameter input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.minus-button {
  position:relative;
  border: none;
  width: 11px;
  height: 11px;
}

.minus-button::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.minus-button:hover::before {
  background-color: #000000;
}

.minus-button:focus::before {
  background-color: #81b3d2;
}

.plus-button {
  border: none;
  width: 11px;
  height: 11px;
}

.plus-button::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9
}

.plus-button::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 11px;
  background-color: #a9a9a9
}

.plus-button:hover::before {
  background-color: #000000;
}

.plus-button:focus::before {
  background-color: #81b3d2;
}

.plus-button:hover::after {
  background-color: #000000;
}

.plus-button:focus::after {
  background-color: #81b3d2;
}

.submitbutton {
  font: inherit;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  width: 458px;
  min-height: 58px;
  margin-left: 56px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.submitbutton:hover {
  background-color: #669ec0;
}

.submitbutton:focus {
  background-color: #5496bd;
  color: #88b6d1;
}

.main-footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 78px;
  padding: 0;
  opacity: 0.9;
}

.hashtag {
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  width: 400px;
  color: #000000;
}

.footer-social {
  width: 400px;
}

.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  background-color: #5496bd;
}

.social-button:focus path {
  fill: #88b6d1;
}

.academy-button {
  text-decoration: none;
  width: 400px;
  color: #000000;
}

.academy-button {
}

.academy-button:hover path {
  fill: #98c1da;
}

.academy-button:focus path {
  fill: #bdbbbc;
}

.body-hotels {
  text-align: left;
  line-height: 21px;
}

.search-form {
  background-image: url("../img/filter-background.png");
  background-repeat: no-repeat;
  background-color: #669ec0;
  color: #ffffff;
}

.search-form p {
  font-size: 16px;
}

.bookingform-hotels {
  display: flex;
  min-height: 219px;
}

.column-1 {
  display: flex;
  flex-direction: column;
  width: 241px;
  margin-left: 73px;
  margin-top: 31px;
  padding: 0;
}

.column-2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 31px;
  padding: 0;
}

input[type="checkbox"] {
  display: none;
}

.column-3 {
  display: flex;
  flex-direction: column;
  width: 328px;
  margin-top: 31px;
  margin-right: 73px;
  padding: 0;
}

.paragraph-checkbox {
  font-weight: bold;
}

.filter-input:hover,
.filter-input:focus {
}

.filter-input:disabled {
}

.category-price {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.category-price::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-price label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.category-price .min-price,
.category-price .max-price {
  width: 90px;
  padding-left: 65px;
}

.category-price input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-price {
  position: relative;
  margin-bottom: 32px;
}

.range-price .scale {
  height: 2px;
  background: #ffffff;

}

.range-price .scale-mini {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover {
  background: #1c4f80;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}

.button-ghost {
  color: #ffffff;
  background: transparent;
  border:  1px solid #ffffff;
  border-radius: 2px;
  opacity: 0,1;
  width: 134px;
  height: 34px;
}

.sorting {
  padding-left: 73px;
  display: flex;
  align-items: baseline;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-parameter {
  display: flex;
}


.sorting h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-parameter {
  list-style: none;
}

.parameter-sort {
  margin-right: 39px;
}

.parametr-price,
.parametr-type {
  margin-right: 33px;
}

.parametr-big {
  margin-left: 502px;
  margin-right: 10px;
}

.sorting-parameter a {
  color: #000000;
  text-decoration: underline;
  text-decoration-style: dotted;
  opacity: 0.3;
}

.sorting-parameter a:hover {
  color: #81b3d2;
  opacity: 1;
}

.sorting-parameter a:focus {
  color: #000000;
  text-decoration:none;
}

.sorting-parameter a:active {
  color: #81b3d2;
  text-decoration:none;
}

.parametr-big,
.parametr-little:hover path {
  fill: #2f2b2c;
}

.parametr-big,
.parametr-little:focus path {
  fill: #81b3d2;
}

.parametr-big,
.parametr-little:active path {
  fill: #81b3d2;
}

.result-hotels {
  padding-left: 73px;
  background-color: #fefefe;
}

.hotels-items {
  display: flex;
  justify-content: space-between;
  min-height: 150px;
  padding-top: 31px;
  padding-bottom: 31px;
  border-bottom: 1px solid #e5e5e5;
}

.name-hotel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 364px;
  padding-left: 30px;
}

.name-of-hotel {
  min-width: 364px;
  font-size: 21px;
  font-weight: bold;
  flex-grow: 1;
}

.hotel-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 528px;
}

.more {
  display: inline-block;
  background-color: #81b3d2;
  width: 110px;
  min-height: 27px;
}

.more a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.more:hover {
  background-color: #669ec0;
}

.more:focus {
  background-color: #5496bd;
  color: #88b6d1;
}

.book {
  display: inline-block;
  background-color: #766357;
  width: 143px;
  height: 27px;
}

.book a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.book:hover {
  background-color: #604e43;
}

.book:focus {
  color: #81b2ce;
  background-color: #857871;
}

.star-raiting {
  background-image: url("../img/star-rating.svg");
}

.rating {
  background-color: #f2f2f2;
  width: 111px;
  min-height: 27px;
}
